* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.6;
}

a:link,
a:visited {
  text-decoration: none;
}

.btn {
  width: 100%;
  background-color: #c69963;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  background-color: #B28451;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [main-start] ([col-start] minmax(10rem, 1fr) [col-end])[12] [main-end];
      grid-template-columns: [main-start] repeat(12, [col-start] minmax(10rem, 1fr) [col-end]) [main-end];
}

@media only screen and (max-width: 62.5em) {
  .container {
    -ms-grid-columns: (minmax(min-content, 1fr))[12];
        grid-template-columns: repeat(12, minmax(-webkit-min-content, 1fr));
        grid-template-columns: repeat(12, minmax(min-content, 1fr));
  }
}

.navbar {
  background-color: #C69963;
  grid-column: main-start / main-end;
}

.header {
  grid-column: main-start / main-end;
}

.about {
  background-color: #C69963;
  grid-column: main-start / main-end;
}

.projects {
  grid-column: main-start / main-end;
  margin: 10rem 15rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 7rem;
}

.project {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 3.5rem;
  background-color: #f9f7f6;
}

.project__img {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  z-index: 1;
}

.project__name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  width: 80%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1.25rem;
  background-color: #101d2c;
  color: #fff;
  z-index: 3;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.project__btn--light {
  background: none;
  color: #000;
  margin-top: 2.5rem;
}

.project__btn--light:hover {
  background-color: #ddd5d1;
}

.footer {
  background-color: #101d2c;
  grid-column: main-start / main-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1.5rem;
  display: block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav__link:hover, .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
  margin: 6rem auto 0 auto;
}
/*# sourceMappingURL=style.css.map */